<p> Dear <%= @buyer.first_name.capitalize if @buyer.present? %>, </p>

<p>
  Your loan officer, <%= @sender.username %> has invited you to take control of your on demand pre-approval letters and mortgage calculations. Please click on the link below to register your account.
</p>

<p>
  <%=link_to 'Accept Invitation', accept_invitation_request_url(token: @token) %>
</p>

<p style="margin-bottom:0">Sincerely,</p>
<p style="margin:0">The Appruve.me Team</p>
<p style="margin-top:0">Your Pre-Approval Parter</p>
<p style="margin-bottom:0">support@appruv.me</p>
<p style="margin-top:0">(347) 903-3280</p>
